{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "camelcase": 1,
        "quotes": [2, "single", { "avoidEscape": true }],
        "no-unused-vars": 0,
        "no-undef": 0,
        "no-underscore-dangle": 0,
        "indent": ["error", 4, { "FunctionExpression": {"body": 1, "parameters": 2}, "ignoredNodes": ["SwitchCase", "FunctionExpression"] }],
        "semi": ["error", "always"],
        "eol-last": ["error", "always"],
        "comma-spacing": ["error", { "before": false, "after": true }]
    }
}
